*.int diff=localizablestrings
*.chn diff=localizablestrings
*.cht diff=localizablestrings
*.deu diff=localizablestrings
*.esn diff=localizablestrings
*.fra diff=localizablestrings
*.ita diff=localizablestrings
*.jpn diff=localizablestrings
*.kor diff=localizablestrings
*.pol diff=localizablestrings
*.rus diff=localizablestrings
