/*.code-workspace
BuildCache/
PublishedFileID.Id
/LongWarOfTheChosen/Content/*
/LongWarOfTheChosen/ContentForCook/*
!/LongWarOfTheChosen/Content/Parcels
!/LongWarOfTheChosen/Content/Plots
!/LongWarOfTheChosen/ContentForCook/Missions
!/LongWarOfTheChosen/Content/Parcels/*
!/LongWarOfTheChosen/Content/Plots/*
!/LongWarOfTheChosen/ContentForCook/Missions/*
