/*.code-workspace
BuildCache/
PublishedFileID.Id
LongWarOfTheChosen/ContentForCook/WP_BeamGrenadeLauncher.upk
LongWarOfTheChosen/ContentForCook/UILibrary_XPerkIconPack.upk
LongWarOfTheChosen/ContentForCook/UILibrary_WOTC_APA_Class_Pack.upk
LongWarOfTheChosen/ContentForCook/UILibrary_WolfWeaponPack.upk
LongWarOfTheChosen/ContentForCook/UILibrary_WeaponPerkIcons.upk
LongWarOfTheChosen/ContentForCook/UILibrary_SOHunter.upk
LongWarOfTheChosen/ContentForCook/UILibrary_SODragoon.upk
LongWarOfTheChosen/ContentForCook/UILibrary_SOCombatEngineer.upk
LongWarOfTheChosen/ContentForCook/UILibrary_SMG.upk
LongWarOfTheChosen/ContentForCook/UILibrary_LWOTC.upk
LongWarOfTheChosen/ContentForCook/UILibrary_LW_Overhaul.upk
LongWarOfTheChosen/ContentForCook/UILibrary_FavidsPerkPack.upk
LongWarOfTheChosen/ContentForCook/LWRapidTarget_PerkContent.upk
LongWarOfTheChosen/ContentForCook/LWMultiTarget_PerkContent.upk
LongWarOfTheChosen/ContentForCook/LWHolotargeter.upk
LongWarOfTheChosen/ContentForCook/LWHoloTarget_PerkContent.upk
LongWarOfTheChosen/ContentForCook/LW_StrikeRifle.upk
LongWarOfTheChosen/ContentForCook/LW_PsiOverhaul_Perks.upk
LongWarOfTheChosen/ContentForCook/LW_PsiOverhaul.upk
LongWarOfTheChosen/ContentForCook/LW_Perk_OneForAll.upk
LongWarOfTheChosen/ContentForCook/HunterTrackingMark_LW.upk
LongWarOfTheChosen/ContentForCook/CIN_TroopTransport.upk
LongWarOfTheChosen/ContentForCook/BstarsPerkPack_Icons.upk
LongWarOfTheChosen/ContentForCook/AutopistolRebalance_LW.upk
/LongWarOfTheChosen/Content/*
/LongWarOfTheChosen/ContentForCook/*
!/LongWarOfTheChosen/Content/Parcels
!/LongWarOfTheChosen/Content/Plots
!/LongWarOfTheChosen/ContentForCook/Missions
!/LongWarOfTheChosen/Content/Parcels/*
!/LongWarOfTheChosen/Content/Plots/*
!/LongWarOfTheChosen/ContentForCook/Missions/*
unrealscript-debugger-0.1.2.vsix

