*.upk
*.umap
*.bik
*.webm
*.bk2
/*/*.txt
!/LW_FactionBalance/*
!/LW_PerkPack_Integrated/*
!/BaseGameMissionAssets/README.txt
!/Missions/*
!/Parcels/*
!/Plots/*
!/CIN_TroopTransport.upk
!/LW_Heavy_Dazed_Tile.upk
!/LW_Psi*
!/LW_Lost_Brute.upk
!/UILibrary_*
!/BstarsPerkPack_Icons.upk
